<h1>Burgers!</h1>

<h2>Burgers that need to be eaten!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<form class="form">
    <div>
        <input type="text-area" id="burger" name="burger">
    </div>

    <button type="submit">Submit</button>

    <div>
        <p>Enter a burger you want to eat Click the "Submit" button</p>
    </div>
</form>